@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<section class="section dashboard">
    <div class="row">

        <!-- start 左邊側欄 -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">今日</a></li>
                                <li><a class="dropdown-item" href="#">本月</a></li>
                                <li><a class="dropdown-item" href="#">今年</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">銷售量<span>| 今日</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">增加</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#">今日</a></li>
                                <li><a class="dropdown-item" href="#">本月</a></li>
                                <li><a class="dropdown-item" href="#">今年</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">收入<span>| 本月</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>$3,264</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span
                                        class="text-muted small pt-2 ps-1">增加</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Revenue Card -->

                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#">今日</a></li>
                                <li><a class="dropdown-item" href="#">本月</a></li>
                                <li><a class="dropdown-item" href="#">今年</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">客戶量<span>| 今年</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>1244</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">減少</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End Customers Card -->

                <!-- Reports -->
                <div class="col-12">
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#">今日</a></li>
                                <li><a class="dropdown-item" href="#">本月</a></li>
                                <li><a class="dropdown-item" href="#">今年</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">報告<span>/今日</span></h5>
                            <!-- Line Chart -->
                            <div id="reportsChart"></div>
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: '銷售量',
                                            data: [31, 40, 28, 51, 42, 82, 56],
                                        }, {
                                            name: '收入',
                                            data: [11, 32, 45, 32, 34, 52, 41]
                                        }, {
                                            name: '客戶量',
                                            data: [15, 11, 32, 18, 9, 24, 11]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                        },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy HH:mm'
                                            },
                                        }
                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->
                        </div>
                    </div>
                </div><!-- End Reports -->

                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">今日</a></li>
                                <li><a class="dropdown-item" href="#">本月</a></li>
                                <li><a class="dropdown-item" href="#">今年</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">近期銷售<span>| 今日</span></h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">客戶</th>
                                        <th scope="col">商品</th>
                                        <th scope="col">價格</th>
                                        <th scope="col">狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">#2457</a></th>
                                        <td>陳小明</td>
                                        <td><a href="#" class="text-primary">星空夜光手機殼</a></td>
                                        <td>$64</td>
                                        <td><span class="badge bg-success">核准</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>張美玲</td>
                                        <td><a href="#" class="text-primary">魔法香氛蠟燭</a></td>
                                        <td>$47</td>
                                        <td><span class="badge bg-warning">審核中</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2049</a></th>
                                        <td>李靜怡</td>
                                        <td><a href="#" class="text-primary">智能健康手環</a></td>
                                        <td>$147</td>
                                        <td><span class="badge bg-success">核准</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>黃宗憲</td>
                                        <td><a href="#" class="text-primar">迷你攝影無人機</a></td>
                                        <td>$67</td>
                                        <td><span class="badge bg-danger">拒絕</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>劉思涵</td>
                                        <td><a href="#" class="text-primary">天然植物精油</a></td>
                                        <td>$165</td>
                                        <td><span class="badge bg-success">核准</span></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->

                <!-- Top Selling -->
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body pb-0">
                            <h5 class="card-title">銷售排行<span>| 今日</span></h5>

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">圖片</th>
                                        <th scope="col">商品</th>
                                        <th scope="col">價格</th>
                                        <th scope="col">已售出</th>
                                        <th scope="col">收入</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#"><img
                                                    src="@Url.Content("~/vendor/Niceadmin/assets/img/product-1.jpg")"
                                                    alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">手工全牛皮雅緻輕量紳仕皮鞋</a></td>
                                        <td>$64</td>
                                        <td class="fw-bold">124</td>
                                        <td>$5,828</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img
                                                    src="@Url.Content("~/vendor/Niceadmin/assets/img/product-2.jpg")"
                                                    alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">智能手錶 觸控屏幕 睡眠監測 運動追蹤 心率監測 血壓血氧監測</a></td>
                                        <td>$46</td>
                                        <td class="fw-bold">98</td>
                                        <td>$4,508</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img
                                                    src="@Url.Content("~/vendor/Niceadmin/assets/img/product-3.jpg")"
                                                    alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">抗皺因子活膚精華液</a>
                                        </td>
                                        <td>$59</td>
                                        <td class="fw-bold">74</td>
                                        <td>$4,366</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img
                                                    src="@Url.Content("~/vendor/Niceadmin/assets/img/product-4.jpg")"
                                                    alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">輕量化折疊太陽眼鏡</a></td>
                                        <td>$32</td>
                                        <td class="fw-bold">63</td>
                                        <td>$2,016</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img
                                                    src="@Url.Content("~/vendor/Niceadmin/assets/img/product-5.jpg")"
                                                    alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">旗艦降噪耳罩耳機</a></td>
                                        <td>$79</td>
                                        <td class="fw-bold">41</td>
                                        <td>$3,239</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Top Selling -->

            </div>
        </div><!-- End 左邊側欄 -->

        <!-- start 右邊側欄 -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>篩選</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">今日</a></li>
                        <li><a class="dropdown-item" href="#">本月</a></li>
                        <li><a class="dropdown-item" href="#">今年</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">近期活動 <span>| 今日</span></h5>

                    <div class="activity">

                        <div class="activity-item d-flex">
                            <div class="activite-label">32 min</div>
                            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                            <div class="activity-content">
                                新商品即將到貨
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">56 min</div>
                            <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                            <div class="activity-content">
                                周年慶特惠活動開始
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">2 hrs</div>
                            <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                            <div class="activity-content">
                                新職員加入
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">1 day</div>
                            <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                            <div class="activity-content">
                                系統軟體更新
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">2 days</div>
                            <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                            <div class="activity-content">
                                支付供應商發票款項
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">4 weeks</div>
                            <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                            <div class="activity-content">
                                生鮮食品即將到期
                            </div>
                        </div><!-- End activity item-->

                    </div>

                </div>
            </div><!-- End Recent Activity -->

            <!-- Website Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>篩選</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">今日</a></li>
                        <li><a class="dropdown-item" href="#">本月</a></li>
                        <li><a class="dropdown-item" href="#">今年</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">網站流量<span>| 今日</span></h5>

                    <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Access From',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: [{
                                        value: 1048,
                                        name: '搜尋引擎'
                                    },
                                    {
                                        value: 735,
                                        name: '直接流量'
                                    },
                                    {
                                        value: 580,
                                        name: 'Email'
                                    },
                                    {
                                        value: 484,
                                        name: '聯盟廣告'
                                    },
                                    {
                                        value: 300,
                                        name: '視頻廣告'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Website Traffic -->

            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>篩選</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">今日</a></li>
                        <li><a class="dropdown-item" href="#">本月</a></li>
                        <li><a class="dropdown-item" href="#">今年</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">消息 &amp; 更新 <span>| 今日</span></h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="https://s.yimg.com/ny/api/res/1.2/yqCpqr3ZYD9AUyURbPX7gQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTUyNDtjZj13ZWJw/https://s.yimg.com/os/creatr-uploaded-images/2024-02/5cab6a00-cd66-11ee-bfde-f54bfbb8b5a6" alt="">
                            <h4><a href="#">2024春夏韓星顯白髮色推薦！煙燻漿果 柔和桃都是首選</a></h4>
                            <p>過完年想要帶給人截然不同的好印象嗎？那就換個新髮色吧！今天就要來盤點2024年春夏韓星們...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://s.yimg.com/ny/api/res/1.2/fQbahvEhodkw9Rmv9VC4Mg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTUyNDtjZj13ZWJw/https://s.yimg.com/os/creatr-uploaded-images/2024-02/06538640-cd7c-11ee-bcbf-dbd07a4f24b0" alt="">
                            <h4><a href="#">四種痘痘體質中醫解析！根據症狀改善 還推薦抗痘養生茶</a></h4>
                            <p>明明認真保養，防曬清潔保濕通通都沒少，但臉上痘痘為何還是沒有好轉呢？那可能就跟你的體...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://s.yimg.com/ny/api/res/1.2/WookFviHhZ5NOhNmsV5NBw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY0MDtjZj13ZWJw/https://s.yimg.com/os/creatr-uploaded-images/2024-01/53b5cfc0-ba9d-11ee-bbf7-f2d8f097a71e" alt="">
                            <h4><a href="#">底妝怎麼畫更乾淨？化妝師親授秋冬水光底妝技巧，局部消光是重點、光澤更細緻不像油光</a></h4>
                            <p>秋冬大多偏好比較光澤、水光感的底妝，但是如果沒注意，很容易讓底妝顯得斑駁、或是油光滿...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://s.yimg.com/ny/api/res/1.2/FdG0gWlNvjK3jm5CBSVkmQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY0MDtjZj13ZWJw/https://media.zenfs.com/ko/evergreen.ttvc.com.tw/490430d6b4cb39febb0e697dcbcaf69d" alt="">
                            <h4><a href="#">柳丁吃半顆就能加速消化！專家授「3動作」秒知新鮮度 放1處保存恐害乾縮</a></h4>
                            <p>冬天吃柳丁正是時候！柳丁的產季位於每年11月至隔年1月，不論果皮、果肉、籽都可以吃，...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://s.yimg.com/ny/api/res/1.2/G23jQnqI6reuf3tbcpYrKg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY3ODtjZj13ZWJw/https://media.zenfs.com/no/evergreen.ttvc.com.tw/168cb16128defcd2cb4105405a7fbc81" alt="">
                            <h4><a href="#">不只咖啡、紅豆！迅速消水腫「10大利尿食物」曝 堅果、香蕉都上榜</a></h4>
                            <p>利尿食物是指能夠促進體內多餘水分排出的食物，對於有水腫、高血壓、心臟病等問題的人，...</p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

        </div><!-- End 右邊側欄 -->

    </div>
</section>