@model FreshBox.Models.Categorys

@{
    ViewData["Title"] = "CreateEdit";
    Layout = "_LayoutAdmin";
}

@using (Html.BeginForm())
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.Id)

    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.IsEnabled)
        </div>
        <div class="col-md-10 my-2">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.IsCategory)
        </div>
        <div class="col-md-10 my-2">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsCategory)
                @Html.ValidationMessageFor(model => model.IsCategory, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.ParentNo)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.ParentNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ParentNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.SortNo)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.SortNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SortNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.CategoryNo)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.CategoryNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.CategoryName)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.Remark)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <input type="submit" value="異動存檔" class="btn btn-primary" />
            @Html.ActionLink("返回列表", "Index", ActionService.Controller,
                     new { area = ActionService.Area }, new { @class = "btn btn-success" })
        </div>
    </div>
}
