@model FreshBox.Models.OrdersStatus

@{
    ViewData["Title"] = "CreateEdit";
    Layout = "_LayoutAdmin";
}

@using (Html.BeginForm())
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.Id)

    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.IsPayed)
        </div>
        <div class="col-md-10 my-2">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsPayed)
                @Html.ValidationMessageFor(model => model.IsPayed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.IsClosed)
        </div>
        <div class="col-md-10 my-2">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsClosed)
                @Html.ValidationMessageFor(model => model.IsClosed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.StatusNo)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.StatusNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StatusNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.StatusName)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StatusName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.Remark)
        </div>
        <div class="col-md-10 my-2">
            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <input type="submit" value="異動存檔" class="btn btn-primary" />
            @Html.ActionLink("返回列表", "Index", ActionService.Controller,
                     new { area = ActionService.Area }, new { @class = "btn btn-success" })
        </div>
    </div>
}
