@model IEnumerable<FreshBox.Models.OrdersStatus>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<table class="table table-bordered">
    <thead class="table-secondary">
        <tr>
            <th>
                @await Html.PartialAsync("_PartialFormCreate")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th>
                @Html.ColumnSort("StatusNo", @Html.DisplayNameFor(model => model.StatusNo))
            </th>
            <th>
                @Html.ColumnSort("StatusName", @Html.DisplayNameFor(model => model.StatusName))
            </th>
            <th>
                @Html.ColumnSort("Remark", @Html.DisplayNameFor(model => model.Remark))
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            ActionService.RowId = item.Id;
            ActionService.RowData = (item.StatusName == null) ? "" : $"{item.StatusNo} {item.StatusName}";

            <tr>
                <td>
                    @await Html.PartialAsync("_PartialFormEdit")
                    @await Html.PartialAsync("_PartialFormDelete")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsClosed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </tbody>
</table>