@model vmForget
@{
    ViewData["Title"] = "Forget";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

<div class="card card-size-medium mt-5">
    <div class="card-header bg-primary text-white">
        <div class="row">
            <div class="col-md-12">
                <div class="float-start">
                    <h4>@ActionService.ViewActionName</h4>
                </div>
                <div class="float-end">
                    <h4>@ActionService.ViewPrgInfo</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.UserNo)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UserNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr>
            <div class="row form-group">
                <div class="col-md-12">
                    @Html.InputButton(enFormInputButton.Submit)
                    @Html.ActionLink("返回登入頁", "Login", "Web", new { area = "" }, new { @class = "btn btn-success" })
                </div>
            </div>
        }
    </div>
</div>
