@model vmLogin

@{
    ViewData["Title"] = "使用者登入";
    Layout = "_LayoutLite";
}
@section Styles {
    <link href="@Url.Content("~/vendor/Captcha/captcha.css")" rel="stylesheet" />
}


<div class="card card-size-small mt-5">
    <div class="card header bg-secondary text-white">
        <div class="pt-2 px-2">
            <div class="float-start">
                <h4>@ActionService.ViewActionName</h4>
            </div>
            <div class="float-end">
                <h4>@ActionService.ViewPrgInfo</h4>
            </div>
        </div>
    </div>
    <div class="card body p-2">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row form-group">
                <label asp-for="UserNo" class="control-label col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="UserNo" class="form-control" />
                    <span asp-validation-for="UserNo" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Password" class="control-label col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-3">驗證碼</div>
                <div class="col-md-9">
                    <div class="float-start">
                        <div class="captcha-code code dynamic-code float-start me-2"></div>
                    </div>
                    <div class="float-start">
                        <div class="captcha-reload float-start me-4" role="button"><i class="fas fa-sync-alt"></i></div>
                    </div>
                    <div class="float-start">
                        <input type="text" class="form-control  me-2" id="captcha-input" required autocomplete="off"
                            placeholder="請輸入驗證碼 ...">
                        <span id="errCaptcha"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="float-start">
                        <input type="submit" value="登入系統" class="btn btn-primary" />
                    </div>
                    <div class="float-start">
                        @Html.ActionLink("返回首頁", "Index", ActionService.Controller, new { area = ActionService.Area },
                                 new { @class = "btn btn-secondary ms-2" })
                    </div>
                    <div class="float-end">
                        @Html.ActionLink("註冊帳號", "Register", ActionService.Controller, new { area = ActionService.Area }
                                 , new { @class = "btn btn-success" })
                        @Html.ActionLink("忘記密碼", "Forget", ActionService.Controller, new { area = ActionService.Area },
                                 new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section BodyScript {
    <script src="@Url.Content("~/vendor/Captcha/captcha.js")"></script>
}