@model FreshBox.Models.Users
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
    string MapController = (SessionService.RoleNo == "Admin") ? "Admin" : ((SessionService.RoleNo == "User") ? "User" :
    "Home");
}

<div class="card card-size-medium mt-5">
    <div class="card header bg-secondary text-white">
        <div class="pt-2 px-2">
            <div class="float-start">
                <h4>@ActionService.ViewActionName</h4>
            </div>
            <div class="float-end">
                <h4>@ActionService.ViewPrgInfo</h4>
            </div>
        </div>
    </div>
    <div class="card body p-4">
        <div class="row">
            <div class="col-md-3 pt-2 border-bottom border-start border-end border-top">
                <img src="@Url.Content(SessionService.UserImage)" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-9 border-top">
                <div class="row">
                    <div class="col-md-3 border-bottom border-end fw-bold">
                        <label asp-for="UserNo" class="control-label"></label>
                    </div>
                    <div class="col-md-9 border-bottom border-end pt-1">
                        <span class="control-label">@Model.UserNo</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 border-bottom border-end">
                        <label asp-for="UserName" class="control-label"></label>
                    </div>
                    <div class="col-md-9 border-bottom border-end pt-1">
                        <span class="control-label">@Model.UserName</span>
                    </div>
                </div>
                @if (SessionService.RoleNo != "Member")
                {
                    <div class="row">
                        <div class="col-md-3 border-bottom border-end">
                            <label asp-for="DeptName" class="control-label"></label>
                        </div>
                        <div class="col-md-9 border-bottom border-end pt-1">
                            <span class="control-label">@Model.DeptName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 border-bottom border-end">
                            <label asp-for="TitleName" class="control-label"></label>
                        </div>
                        <div class="col-md-9 border-bottom border-end pt-1">
                            <span class="control-label">@Model.TitleName</span>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-3 border-bottom border-end">
                        <label asp-for="GenderName" class="control-label"></label>
                    </div>
                    <div class="col-md-9 border-bottom border-end pt-1">
                        <span class="control-label">@Model.GenderName</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 border-bottom border-end">
                        <label asp-for="ContactTel" class="control-label"></label>
                    </div>
                    <div class="col-md-9 border-bottom border-end pt-1">
                        <span class="control-label">@Model.ContactTel</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 border-bottom border-end">
                        <label asp-for="ContactEmail" class="control-label"></label>
                    </div>
                    <div class="col-md-9 border-bottom border-end pt-1">
                        <span class="control-label">@Model.ContactEmail</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 border-bottom border-end">
                        <label asp-for="ContactAddress" class="control-label"></label>
                    </div>
                    <div class="col-md-9 border-bottom border-end pt-1">
                        <span class="control-label">@Model.ContactAddress</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                @Html.ActionLink("上傳照片", "PhotoUpload", "Web", new { area = "" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("修改記錄", "EditProfile", "Web", new { area = "" }, new { @class = "btn btn-success" })
                @Html.ActionLink("返回首頁", "Index", MapController, new { area = ActionService.Area }, new
                    {
                        @class = "btn btn-secondary"
                    })
            </div>
        </div>
    </div>
</div>