@model vmResetPassword
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
    string MapController = (SessionService.RoleNo == "Admin") ? "Admin" : ((SessionService.RoleNo == "User") ? "User" :
    "Home");
}

<div class="card card-size-medium mt-5">
    <div class="card-header bg-primary text-white">
        <div class="row">
            <div class="col-md-12">
                <div class="float-start">
                    <h4>@SessionService.ActionName</h4>
                </div>
                @if (!string.IsNullOrEmpty(SessionService.SubHeaderName))
                {
                    <div class="float-end">
                        <h4>@SessionService.SubHeaderName</h4>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row form-group">
                <div class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.OldPassword)
                </div>
                <div class="col-md-10 my-2">
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.NewPassword)
                </div>
                <div class="col-md-10 my-2">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.ConfirmPassword)
                </div>
                <div class="col-md-10 my-2">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr>
            <div class="row form-group">
                <div class="col-md-12">
                    @Html.InputButton(enFormInputButton.Submit)
                    @Html.ActionLink("返回列表", "Index", MapController, new { area = ActionService.Area }, new
                    {
                        @class = "btn btn-success"
                    })
                </div>
            </div>
        }
    </div>
</div>
